body {
    margin: 0px;
    padding: 0px;
    background: url('img/ral.jpeg');
    z-index: -1;
}

#form {
    display: block;
    margin: 190px 200px;
    border: 2px solid red;
    height: 312px;
    width: 293px;
    border-radius: 9px;
}
#form::before{
    content: "";
    background-color: whitesmoke;
    position: absolute;
    height: 311px;
    width: 293px;
    z-index: -1;
    opacity: 0.5;
}

#form form {
    display: block;
    margin: auto;
    padding: 53px;
}

.login {
    display: block;
    margin: auto;
    height: 34px;
    padding: 3px;
    width: 186px;
}

.btn {
    display: block;
    padding: 2px 24px;
    border-radius: 7px;
    background-color: white;
    color: black;
    cursor: pointer;
    margin: auto;
    font-size: 0.9rem;
}


.login input {
    padding: 4px 17px;
    border-radius: 6px;
    font-family: monospace;
}

input::placeholder {
    text-align: center;
}

.h-primary{
    text-align: center;
    text-decoration: underline;
}